/* Estilos gerais para o corpo do documento */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

/* Estilos para a barra de navegação */
nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Estilos para o conteúdo principal */
main {
  padding: 20px;
}

/* Estilos para formulários */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form select,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

form input:focus,
form select:focus {
  border-color: #007bff;
}

form button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}

/* Estilos para a tabela */
.table-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Estilos para botões de ação */
.edit-btn,
.delete-btn {
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s ease;
}

.edit-btn {
  background-color: #007bff;
  color: #fff;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
}

.delete-btn:hover {
  background-color: #c82333;
}

/* Adicione isso ao seu arquivo CSS (style.css) ou dentro de uma tag <style> no cabeçalho do HTML */

fieldset {
  margin-bottom: 20px;
}

fieldset legend {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

fieldset table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

fieldset th, fieldset td {
  border: 1px solid #ccc;
  padding: 8px;
}

fieldset th {
  background-color: #f2f2f2;
  text-align: left;
}

fieldset tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

fieldset tbody tr:hover {
  background-color: #f1f1f1;
}
